body {
    text-align: center;
}

h1 {
    font-size: 42px;
    letter-spacing: 5px;
    font-family: monospace;
}

.target-date {
    font-size: 30px;
    margin-bottom: 10px;
}

.modification-zone {
    margin-top: 10px;
}

.modification-zone input,
.modification-zone button {
    padding: 5px;
    border-width: 1px;
}

.modification-zone button {
    background-color: #050351;
    color: #fff;
    border: 1px solid #010028;
    font-weight: bold;
    cursor: pointer;
}

.modification-zone button:hover {
    background-color: #0400af;
}
